:root {
  /* 行为相关颜色 */
  --color-primary: #0d84ff;
  --color-success: #4cd964;
  --color-warning: #f0ad4e;
  --color-error: #f22424;
  // 文字
  --color-text: #323233;
  // disabled
  --color-disabled: #c8c9cc;
  // placeholder
  --color-placeholder: #969799;
  // border
  --color-border: #ebedf0;
  // bg
  --color-bg: #f7f8fa;
}
